Source: gcs
Section: admin
Priority: optional
Maintainer: Junta de Andalucia <packmaster@guadalinex.org>
Uploaders: Juanje Ojeda Croissier <jojeda@emergya.es>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.8.0
Homepage: http://launchpad.net/gcs
Vcs-Browser: http://codebrowse.launchpad.net/~guadalinex-members/gcs/trunk/changes
Vcs-Bzr: http://bazaar.launchpad.net/~guadalinex-members/gcs/trunk

Package: gcs
Architecture: i386
Pre-Depends: 
Depends: python, python-syck, python-support, debhelper, devscripts, make, fakeroot, gcc
Conflicts: 
Description: Sistema de configuración de Guadalinex v4 
 Consiste en un conjunto de herramientas que facilitan
 la creacion de metapaquetes y paquetes de configuración.
